{block menu}
	<nav>
		<ul>
			<li><a href="{$basePath}">Home</a></li>
			<li><a href="{$basePath}/persons">Persons list</a></li>
			<li><a href="{$basePath}/location">Locations</a></li>
		</ul>
	</nav>
{/block menu}