{extends layout.latte}

{block title}Update person{/block}

{block body}
	<div class="container">
		<h1>Update person</h1>		
	{include person-form.latte buttonTitle => 'Edit'}
	</div>
{/block}